{
      "arrowParens": "avoid",
      "bracketSpacing": true,
      "printWidth": 80,
      "quoteProps": "as-needed",
      "singleQuote": true,
      "tabWidth": 4,
      "trailingComma": "none",
      "useTabs": false
}
