# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# artifacts
tmp/

me.addr
me.sk
mnemonics*.*

yaci-cli.log
yaci-cli.indexer
demo-cli.indexer

config/download.properties
config/node.properties
config/application.properties

off_chain/node_modules/

.direnv
off_chain/mpfs-indexer.txt
off_chain/test.json
.vscode/settings.json
